
body {
	width: 90%;
	/*max-width: 1024px;*/
	margin: 0 auto;
	border: 2px solid black;

}

h1 {
	color: blue;
	/*background-color: red; */
}

header {
	/*background-color: red;*/ 	
	display: flex;
	flex-wrap: wrap;
	
	
}

.header-text {
	flex-grow: 2;
	text-align: center;
	
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 20px;
}

.flex-container img {
	margin: 20px;
}
.container {
	border: 5px solid #ffcc5c;
	flex-direction: row;
	justify-content: space-around;
}

.topnav {
	/*background-color: #6c5b7b;*/
	background-color: skyblue;
    line-height: 2.5;
}
.topnav ul {
	display: flex;
	margin: 0;
	padding-left: 20px; 
}

.topnav ul li {
	list-style-type: none;
	margin-right: 20px;
}

.topnav ul li a {
	text-decoration: none;
	color: white;
}

.push {
	margin-left: auto; 
}




main {
	width: 59.375%;
	padding: 15px 1.5625%;
	float: left;
}
section img {
	height: auto;
	width: 100%;
	max-width: 260px;
	margin-bottom: .5em;
}
img {
	height: auto;
	width: 100%;
	max-width: 260px;
}

aside {
	width: 34.375%;
	padding: 15px 1.5625%;
	float: right;
	margin: 0px;
}


footer {
	clear: both;
	width: 96.875%;
	padding: 15px 1.5625%;
	border-top: 2px solid black;
	text-align: center;
}